/* Start main Rulez*/

body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.container {width: 1170px;margin: auto}

.clear {clear: both;}

/* End main Rulez*/

/* Start Header*/
.header .slider {
    background-color: #eee;
    height: 600px;
    background-image: url('../images/slider.jpg');
    background-size: cover;
}

.header .slider .intro {
    height: 600px;
    text-align: center;
    color: #fff;
    padding-top: 200px
}

.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding: 5px 0;
    color:#fff
}

.header .slider .intro button {
    background: none;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px;
    color: #fff
}

.header .navbar {
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}

.header .navbar h2 {text-transform: uppercase;color:#fff}

.header .navbar h2 span {color: #2ecc71}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}

.header .navbar ul li {float: left;padding: 10px}

.header .navbar ul li.active a {color: #2ecc71;}

.header .navbar ul li a {color: #fff;text-decoration: none}

.header .navbar ul li a:hover {color: #2ecc71}

/* End Header*/

/*Start Features*/

.features {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 50px
}

.features .feat {width: 33.3333%;height: 150px;}

.features .feat p {padding-right: 25px;}
/* End features*/

/* Start About me*/

.about-me {background-color: #f2f2f2;overflow: hidden;}

.about-me .image {width: 40%;height: 530px}

.about-me .image img {width: 100%;height: 100%}

.about-me .info {width: 60%}

.about-me .info h2 {margin: 40px 0 20px 40px;}

.about-me .info>p {margin: 0 0 10px 40px;}

.about-me .info>p:last-of-type {margin-top: 30px}

.about-me .info .hobbies {overflow: hidden;margin: 20px 0 0 40px;}

.about-me .info .hobbies>div {width: 50%;min-height: 100px;}

.about-me .info .hobbies i {
    width: 12%;
    margin-right: 5%;
    margin-top: 30px;
    color: #2DCC70;
    font-size: 2em;
}

.about-me .info .hobbies .content {width: 83%}

/* End About me*/

/* Start My Skills*/

.my-skills {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
}

.my-skills .skills,
.my-skills .progress {width: 50%}

.my-skills .skills h2 {margin: 40px 0 20px 40px;}

.my-skills .skills p {margin: 0 0 10px 40px;}

.my-skills .skills>p:last-of-type {margin-top: 30px}

.my-skills .skills button {
    margin-top: 20px;
    margin-left: 40px
}

.my-skills .progress .technique {margin-left: 50px}

.my-skills .progress .technique h3 {text-transform: uppercase;}

.my-skills .progress .technique div {background-color: #f2f2f2;height: 25px;}

.my-skills .progress .technique div span {
    background: #2ecc71;
    height: 25px;
    display: block;
    text-align: right;
    color: #fff;
    font-weight: bold;
    line-height: 1.7;
}

/* End My Skills*/

/*Start Resume*/

.resume {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

.resume h2 {font-weight: bold;}

.resume p {padding: 0 40px}

.resume button {margin-top: 15px}

/*End Resume*/

/* Start My Education*/
.my-education {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-education hr {
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0
}

.my-education .main h2 {margin: 40px 0 20px 40px;color: #555}

.my-education .main p {margin: 0 0 10px 40px;}

.my-education .main>p:last-of-type {margin-top: 30px}

.my-education .main {width: 45%;margin-right: 5%}

.my-education .exp {width: 50%}

.my-education .exp h3 {margin-top: 80px;margin-bottom: 10px;}

.my-education .exp span {display: block;margin-bottom: 10px;}

.my-education .exp span:first-of-type {color: #999}

.my-education .exp span:last-of-type {
    color: #fff;
    background-color: #2ecc71;
    display: inline-block;
    padding: 4px 10px
}


/* End My Educcation*/

/*Start Testemonials*/

.testemonials {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.testemonials q {
    color: #888;
    font: italic bold 18px/1.8 Arial, Tahoma
}

.testemonials h3 {margin-bottom: 30px;}

.testemonials ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.testemonials ul li {
    width: 15px;
    height: 15px;
    border: 2px solid #2ecc71;
    display: inline-block;
}

.testemonials ul li.active {background-color: #2ecc71;}

.testemonials ul li:hover {background-color: #2ecc71;cursor: pointer;}

/*End Testemonials*/

/* Start Portifolio*/

.portofolio {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

.portofolio p {margin-bottom: 30px;}

.portofolio .our-work {overflow: hidden;}

.portofolio .our-work>div {width: 33.3333%;margin-bottom: 10px}

.portofolio .our-work>div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc
}

/* End Portifolio*/

/* Start Contact Me*/

.contact {
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}

.contact .info {width: 50%;margin-right: 5%}

.contact h2 {color: #fff;margin-left: 40px;}

.contact p {margin-left: 40px;}

.contact p strong {color: #d1d6da}


.contact .form {width: 45%;}

.contact .form label {
    display: block;
    color: #d1d6da;
    margin: 10px 0
}

.contact .form input {
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact .form textarea {
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}

.contact .form input[type="submit"] {
    background-color: #191e22;
    color: #fff;
    width: 30%
}

/* End Contact Me*/

/* Start Footer*/

.footer {
    background-color: #191e22;
    color: #6f7070;
    padding: 20px 0;
    text-align: center
}

.footer ul {margin: 10px 0 0;}

.footer ul li {display: inline-block;padding-right: 5px}

/* End Footer*/

/* Start MY framwork*/
.my-button {
    background: none;
    border: 3px solid #2ecc71;
    color: #2ecc71;
    padding: 10px 30px;
    font-weight: bold;
}
.fl-left{float:left}
p {line-height: 1.7; color:#666}
h2,h3{color:#555}
/* End my framework*/